// colors --------------------------
$colorBlack: #14141B;
$colorWhite: #ffffff;
$greyText: #B6B6B6;
$blackText: #101015;
$whiteGreyText: #565656;
$darkredText: #910A2D;
$cherryLine: #910A2D;
$inputText: #4F4F4F;
$footerText: #8E8E8E;
$borderDotted:#939393;

//fonts ----------------------------
$fontMazda: "Mazda Type Cyrillic";
